{% extends "core/base.html" %}
{% block content %}
<h1>Create Listing</h1>
{% if errors %}
<div class="alert alert-danger" role="alert">
    <ul>
        {% for error in errors %}
        <li> {{ error.0 }}: {{error.1}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form class="m-auto col-md-3" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center">Listing</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ values.title|default:'' }}">
        <label for="title"></label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="description" name="description" placeholder="Description" value="{{ values.description|default:'' }}">
        <label for="description"></label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="price" name="price" placeholder="Price" value="{{ values.price|default:'' }}">
        <label for="price"></label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="condition" name="condition"  placeholder="Condition">
        <label for="condition"></label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="status" name="status"  placeholder="Status">
        <label for="status"></label>
    </div>
    <div class="form-floating">
        <input type="photo" class="form-control" id="photo" name="photo"  placeholder="Photo(s)">
        <label for="photo"></label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Add Listing</button>
</form>

{% endblock %}
