
{% extends "core/base.html" %}
{% block content %}
{% if user_obj %}
    <p>Welcome back, <strong>{{ user_obj.username }}</strong>!</p>
    <hr>
    <h3>User Info:</h3>
    <ul>
        <li><strong>Name:</strong> {{ user_obj.name }}</li>
        <li><strong>Username:</strong> {{ user_obj.username }}</li>
        <li><strong>Email:</strong> {{ user_obj.email }}</li>
    </ul>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'marketplace:logout' %}">Logout</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'marketplace:create' %}">Create Listing</a>
    </li>


    
{% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Login here</a>.</p>
{% endif %}
{% endblock %}