{% extends "core/base.html" %}

{% block content %}

<div class="row">
    {% for listing in listings %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ listing.photo.url }}" class="card-img-top" alt="Product Image" style="height: 150px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description|truncatewords:10 }}</p>
                <a href="{% url 'listings:detail' listing.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No listings yet. Be the first to post!</p>
    {% endfor %}
</div>

{% endblock %}